<div class="combat-arena" data-controller="pve-combat" data-pve-combat-battle-id-value="<%= @battle.id %>">
  <h1 class="combat-title">⚔️ Combat</h1>

  <%= render "combat/battle", battle: @battle %>
</div>

