<h3>Combat Log</h3>
<div class="combat-log-entries" data-tactical-combat-target="combatLog">
  <% entries.each do |entry| %>
    <div class="log-entry log-entry--<%= entry.log_type %>">
      <span class="log-turn">[T<%= entry.round_number %>]</span>
      <span class="log-message"><%= entry.message %></span>
    </div>
  <% end %>
</div>

