BODY
{
       FONT-FAMILY: Verdana, Tahoma, Arial;
       FONT-SIZE: 12px;
       FONT-WEIGHT: normal;
       MARGIN: 0px;
       FONT-STYLE: normal;
       COLOR: #000000;    
}

A
{
       COLOR: #336699;
       TEXT-DECORATION: underline;
}

.ftxt
{
       FONT-FAMILY: Verdana, Tahoma, Arial;
       FONT-SIZE: 10px;
       TEXT-DECORATION: none;
       COLOR: #222222;
}

.fpla
{
       FONT-FAMILY: Verdana, Tahoma, Arial;
       FONT-SIZE: 11px;
       TEXT-DECORATION: none;
       COLOR: #888888;
}

.nick
{
       FONT-FAMILY: Verdana, Tahoma, Arial;
       FONT-SIZE: 12px;
       TEXT-DECORATION: none;
       COLOR: #222222;
}

.ftime
{
       FONT-FAMILY: Tahoma, Verdana, Arial;
       FONT-SIZE: 12px;
       TEXT-DECORATION: none;
       COLOR: #888888;       
}


.proce
{
       FONT-FAMILY: Verdana, Arial;
       FONT-SIZE: 10px;
       TEXT-DECORATION: none;
       COLOR: #CC0000;       
}

.fsel 
{
       FONT-FAMILY: Verdana, Tahoma, Arial;
       FONT-SIZE: 10px;
       FONT-STYLE: normal; 
       WIDTH: 210px;
       COLOR: #222222;
       BACKGROUND-COLOR: #ffffff;
}

.fbut 
{
       BACKGROUND: #ffffff; 
       BORDER-BOTTOM: #DECFA6 1px solid; 
       BORDER-LEFT: #DECFA6 1px solid; 
       BORDER-RIGHT: #DECFA6 1px solid; 
       BORDER-TOP: #DECFA6 1px solid; 
       COLOR: #333333; 
       CURSOR: hand; 
       FONT: 11px Tahoma, Verdana, Arial; 
       FONT-WEIGHT: bold;
}

.mbox 
{
       FONT-FAMILY: Verdana, Tahoma, Arial;
       FONT-SIZE: 10px; 
       BORDER-BOTTOM: #767676 1pt solid;
       BORDER-LEFT: #767676 1pt solid;
       BORDER-RIGHT: #767676 1pt solid; 
       BORDER-TOP: #767676 1pt solid;
       COLOR: #556680; 
       MARGIN-TOP: 0px; 
       MARGIN-BOTTOM: 0px;       
}

.ccursor
{
       cursor: pointer;
}

.png 
{ 
       //background-image: none ! important;
       behavior: url('./css/pngfix.htc'); 
}

.dynam { position: absolute; z-index: 3; left: 26%; right: 26%; top: 144px; width: 48%; height: 90px; }
.hpfull { BACKGROUND: url('http://image.neverlands.ru/gameplay/fight/hpbg1.gif') repeat-x; }
.hplos { BACKGROUND: url('http://image.neverlands.ru/gameplay/fight/hpbg2.gif') repeat-x; }
.mpfull { BACKGROUND: url('http://image.neverlands.ru/gameplay/fight/mpbg1.gif') repeat-x; }
.mplos { BACKGROUND: url('http://image.neverlands.ru/gameplay/fight/mpbg2.gif') repeat-x; }

#lines_container { position: relative; }
#leftC { position: absolute; left: 0px; top: 0; }
#rightC { position: absolute; right: 0px; top: 0; }
#lines { padding: 7px 15px 0 18px; }
#text { position: absolute; z-index: 2; left: 25px; top: 6px; font-size: 11px; }