<% character ||= nil %>
<% equipment ||= {} %>
<% show_money = local_assigns.fetch(:show_money, false) %>

<div class="nl-equipment-summary">
  <%= render "shared/equipment_paperdoll", character: character, equipment: equipment, interactive: false %>

  <div class="nl-equipment-location">
    <span>Location</span>
    <strong><%= profile_location(character) %></strong>
  </div>

  <% if show_money %>
    <% wallet = character&.user&.currency_wallet %>
    <div class="nl-equipment-location">
      <span>Money</span>
      <strong><%= number_with_delimiter(wallet&.nv_balance || 0) %> NV</strong>
    </div>
  <% end %>
</div>
